
.logo imghtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0 }
body { font-size: 14px; line-height: 22px; font-family: "Microsoft YaHei"; min-width: 1200px; position: relative; }
html { overflow-x: scroll; }
a { text-decoration: none; color: #444; }
a:hover { color: #d3433e; }
a:focus { outline: 0; }
a:active { outline: 0; }
ul { list-style: none; }
a { outline: 0; }
img { border: 0; }
.clearfix { clear: both; margin: 0; padding: 0; border: 0; }
/* header */
.header { background: #fff;/*border-bottom: 2px solid #e7e7e7;*/ }
.middle { width: 1000px; margin: 0 auto; }
.zcon { width: 1200px; margin: 0 auto; }
.head { overflow: hidden; }
.logo { float: left; height: 120px; padding: 12px 0 31px; box-sizing: border-box; }
.logo img { height: 100px; }
.top_tel { float: right; padding-left: 70px; background: url(img20170107/tel.png) no-repeat left center; margin-top: 33px; background-size: 60px 60px; padding-top: 3px; padding-bottom: 2px; }
.top_tel p i { font-size: 18px; margin-bottom: 10px; display: block; font-style: normal; }
.top_tel p span { color: #d3433e; font-size: 24px; font-weight: bold; }
.nav { background: #03A9F4; font-size: 16px; overflow: hidden; }
.nav .nav-box li { position: relative; float: left; line-height: 66px; margin: 0 0 0 58px; }
.nav .nav-box li.first { margin: 0 6px 0 0; }
.nav .nav-box li.active a { color: #ff6a64; }
.nav .nav-box li a { position: relative; z-index: 10; float: left; color: #fff; outline: none; text-align: center; text-transform: uppercase; letter-spacing: 2px; display: block; overflow: hidden; }
.nav .nav-box li a:hover { color: #ff6a64; }
.nav .nav-box li span { position: absolute; top: 54px; left: 50%; width: 0px; height: 0px; display: block; background: #ff6a64; }
.nbanner { position: relative; overflow: hidden; }
.nbanner a { display: block; }
.nbanner img { position: relative; margin-left: -960px; left: 50%; display: block; width: 1920px; }
/* footer */
.link-index { width: 100%; background-color: #2d2f32; margin-bottom: -10px; }
.link-content { padding: 16px 0 0 0; position: relative; font-family: simsun; }
.link-content .link-title { color: #ccc; float: left; margin-right: 10px; }
.link-content .link-middle .middle-content a { padding-right: 10px; height: 23px; line-height: 23px; color: #aaa; }
.link-content .link-middle .middle-content a:hover { color: #fff; }
.gray-line { clear: both; width: 100%; border-top: 1px solid #b8b8b8; line-height: 0; height: 0; font-size: 0; }
.white-line { clear: both; width: 100%; border-top: 1px solid #fff; line-height: 0; height: 0; font-size: 0; }
.footer { width: 100%; line-height: 22px; font-size: 13px; background-color: #444444; color: #bbb; padding: 32px 0 30px; }
.footer .lianxi { float: left; padding: 10px 0; font-size: 15px; line-height: 1.9em; }
.footer .foot_erweima { float: right; width: 108px; height: 108px; background: url(img/bg_6.jpg) no-repeat; margin-right: 10px; margin-top: 12px; }
.footer a { color: #ddd; }
.flink { background-color: #444444; color: #bbb; padding-top: 40px; font-size: 15px; }
.flink .flink_tit { margin-right: 10px; }
.flink a { color: #bbb; margin-right: 5px; }
.index .footer { padding-top: 0 }
.index .footer .lianxi { padding-top: 5px; }
.index .footer .foot_erweima { margin-top: 5px; }

.footer_hidden{display: none;}
.index .footer2{ background-color:#252525;padding: 20px 0px;}
.index .footer2 p{text-align: center;color: #fff;font-size: 16px;line-height: 30px;}
.index .footer2 p img{display: block;margin: 0 auto;}
.index .footer2_box{ width:1200px; margin:0 auto; padding:60px 0;}
.index .footer2_box .l{ width:300px; float:left; }
/* .index .footer2_box .l{ width:300px; float:left; background: url(../images/5000002207.png) no-repeat right center;} */
.index .footer2_box .l .box{ height:175px; background: url(../images/footer1.png) no-repeat center; position:relative;}
.index .footer2_box .l p{ width:90%; text-align:center; font-size:20px; color:#FFF; line-height:30px; position:absolute; bottom:0px; left:0px;}
.index .footer2_box .m{ width:240px; float:left;}
/* .index .footer2_box .m{ width:440px; float:left; background: url(../images/5000002207.png) no-repeat right center;} */
.index .footer2_box .m ul{}
.index .footer2_box .m ul li{ width:47%; float:left; text-align:center; font-size:20px; color:#FFF;}

.index .footer2_box .r{ width:350px; float:left;}
.index .footer2_box .r li{ font-size:14px; line-height:30px; color:#FFF; text-indent:20px;}
.index .footer2_box .r li.li1{ font-size:20px;}
.index .footer2_box .r li.li2{ font-size:24px;}

.index .footer_bot{ font-size:14px; line-height:40px; background-color:#333; color:#FFF; text-align:center;}


/*固定的悬浮窗*/
.yb_conct { position: fixed; z-index: 9999999; top: 200px; right: -127px; cursor: pointer; transition: all .3s ease; }
.yb_bar ul li { width: 180px; height: 53px; font: 16px/53px 'Microsoft YaHei'; color: #fff; text-indent: 54px; margin-bottom: 3px; border-radius: 3px; transition: all .5s ease; overflow: hidden; }
.yb_bar .yb_top { background: #ff6a64 url(img/fixCont.png) no-repeat 0 0; }
.yb_bar .yb_phone { background: #ff6a64 url(img/fixCont.png) no-repeat 0 -57px; }
.yb_bar .yb_QQ { text-indent: 0; background: #ff6a64 url(img/fixCont.png) no-repeat 0 -113px; }
.yb_bar .yb_ercode { /*height:200px;*/

background: #ff6a64 url(img/fixCont.png) no-repeat 0 -169px; }
.hd_qr { padding: 6px 37px 25px 37px; box-sizing: border-box; width: 180px; }
.yb_QQ a { display: block; text-indent: 54px; width: 100%; height: 100%; color: #fff; }
.yb_QQ a:hover { color: #fff; }
.info_nav { padding: 2em 0 1em; text-align: center; }
.info_nav a { display: inline-block; width: 150px; height: 36px; line-height: 35px; margin: 0 5px; }
.info_nav .info_back { border: 1px solid #ff6a64; color: #ff6a64; }
.info_nav .info_qq { border: 1px solid #ff6a64; background: #ff6a64; color: #fff; }
.imsg { background: url(img20170107/foot1_bg.png) no-repeat center top; background-size: cover; }
.imsg h2 { font-size: 30px; font-family: "黑体"; color: #000000; padding-top: 82px; }
.imsg .s1 { overflow: hidden; margin-bottom: 80px; padding-top: 40px; }
.imsg input { float: left; padding: 20px 0 20px 20px; background-color: #ffffff; color: #888888; font-size: 14px; border: 0; margin-bottom:10px;}
.imsg select { float: left; padding: 20px 0 20px 20px; background-color: #ffffff; color: #888888; font-size: 14px; border: 0; }
.imsg .s1-a { width: 240px; margin-right: 20px; }
.imsg .s1-b { width: 415px; }
.imsg .s1-c { float: left; width: 180px; background-color: #000000; color: #ffffff; cursor: pointer; padding-left: 5px; }
.imsg p { color: #535353; font-size: 14px; padding-bottom: 100px; margin-bottom: 0; }
.sidemenu { display: none; }
#pull { display: none; }
.menu_bg { display: none; }
.zixun_phone, .zixun_phone_inlb { display: none !important; }
.phone_foot { display: none; }
.page_comm { text-align: center; margin-top: 35px; margin-bottom: 40px; }
.page_comm li { display: inline-block; list-style: none; margin-bottom: 10px; }
.page_comm a, .page_comm span.pageinfo { display: inline-block; padding: 2px 10px; margin-right: 6px; border: 1px solid #ff6a64; color: #ff6a64; }
.page_comm a:hover { background-color: #ff6a64; color: #fff; }
.page_comm li.thisclass { background-color: #ff6a64; color: #fff; padding: 2px 10px; margin-right: 6px; border: 1px solid #ff6a64; }
.apply_info { background: url('zshop/i/061.png'); padding-top: 30px; padding-bottom: 60px; }
.apply_info .apply_ form { margin-top: 50px; }
.apply_info .apply_ form .input_table { float: left; }
.apply_info .apply_ form .input_table input { padding: 17px 20px; border-radius: 5px; border: 1px solid #ccc; outline: none; background: #fff; font-size: 18px; color: #606060; box-sizing: border-box; margin-right: 32px; }
.apply_info .apply_ form .input_table .name { width: 250px; }
.apply_info .apply_ form .input_table .phone { width: 250px; }
.apply_info .apply_ form .input_table .phone.active { background: #d3433e; }
.apply_info .apply_ form .input_table .phone.active::-webkit-input-placeholder {
 color: #fff;
}
.apply_info .apply_ form .input_table .phone.active::-moz-input-placeholder {
 color: #fff;
}
.apply_info .apply_ form .input_table .phone.active::-ms-input-placeholder {
 color: #fff;
}
.apply_info .apply_ form .input_table .xq { width: 380px; }
.apply_info .apply_ form .send_apply { float: right; position: relative; overflow: hidden; cursor: pointer; }
.apply_info .apply_ form .send_apply button { padding: 17px 20px; width: 200px; border: none; outline: none; box-sizing: border-box; font-size: 18px; line-height: 20px; border-radius: 5px; color: #fff; transition: 0.5s; background: #4c535a; border: 1px solid #4c535a; cursor: pointer; }
.apply_info .apply_ form .send_apply:hover button { background: #d3433e; border: 1px solid #d3433e; transition: 0.5s; }
.apply_info .apply_ .aside_info { font-size: 18px; color: #606060; margin-top: 30px; }
.apply_info .apply_ .aside_info b { font-size: 24px; color: #d3433e; }
.apply_info h4 { margin-top: 20px; font-size: 32px; line-height: 32px; color: #3d434b; font-weight: bold; text-align: center; }
.apply_info .apply_ form { overflow: hidden; }
.center_intrl { float: left; margin-left: 162px; text-align: center; margin-top: 34px; }
.center_intrl h4 { font-size: 24px; color: #3d434b; letter-spacing: 2px; font-weight: bolder; }
.center_intrl h4 b { color: #03a9f4; }
.center_intrl p { font-size: 18px; color: #4c535a; margin-top: 15px; }
.drop-down-content { padding: 0; overflow: hidden; clear: both; display: none; position: absolute; top: 66px; background: #444444; z-index: 9; }
.drop-down-content li:hover a { color: #ff6a64; }
.nav .drop-down:hover .drop-down-content { display: block; }
.drop-down-content li { float: none; clear: both; }
.nav { height: 66px; overflow:visible; }
.nav .nav-box li a { width: 150px; }
.nav .nav-box li { margin: 0; }
.footer2{}


#toolbar{ display:none;}
#wxnr{ display:none;}
#weixin{ display:none;}

.bg_main{background:rgba(255,152,0,.14);width:100%;padding-top:50px;margin-top:30px}
.project_item{display:flex;justify-content:center;padding:58px}
.items{display:flex;flex-direction:column;justify-content:center;align-items:center;color:#333;width:320px}
.item-pic{    width: 280px;
    height: 500px;}
.process{margin-top:20px;display:flex;justify-content:center;align-items:center}
.process .num{width:40px;height:40px;background:#ff9800;border-radius:50%;font-size:24px;line-height:40px;font-family:PingFang SC;font-weight:700;color:#fff;text-align:center}
.process span{font-size:24px;font-family:"microsoft yahei";font-weight:400;color:#666;margin-left:10px}
.item-tit{font-size:24px;font-weight:700;line-height:34px;color:#333;margin:20px 0 16px}
.item-mod{font-size:18px;font-weight:400;line-height:32px;color:#666}
.project_tit{font-size:40px;color:#ff9800;position:relative;text-align:center;font-weight:700}
.bg_write{position:absolute;z-index:1;width:100%;font-size:46px;color:#ff9800;text-align:center;opacity:.1;top:-15px;text-transform:uppercase;font-weight:700}










