
<div class="footer">
    <a class="maobin" href="/agent/index/index">
        <div class="footer_li ">
            <div class="footbiao">
                <img src="/assets/img/home_{if $html_name!='index'}no{/if}select.png">
            </div>
            <div class="footzi" {if $html_name=="index"}style="color:#2196F3;"{/if}>
                首页
            </div>
        </div>
    </a>
    <a class="maobin" href="/agent/store/index">
        <div class="footer_li ">
            <div class="footbiao">
                <img src="/assets/img/task_{if $html_name!='store'}no{/if}select.png">
            </div>
            <div class="footzi" {if $html_name=="store"}style="color:#2196F3;"{/if}>
                所属管理
            </div>
        </div>
    </a>
    <a class="maobin" href="/agent/user/info">
        <div class="footer_li ">
            <div class="footbiao">
                <img src="/assets/img/user_{if $html_name!='user'}no{/if}select.png">
            </div>
            <div class="footzi" {if $html_name=="user"}style="color:#2196F3;"{/if}>
                个人信息
            </div>
        </div>
    </a>
</div>