<style type="text/css"> 
    .table {table-layout:fixed;} 
    .table td{text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
    .douyin_follow_content{text-align: center;font-size: 16px;font-family: "微软雅黑";padding-bottom: 50px;}
    .douyin_form{width: 800px;margin: 0 auto;}
    .douyin_login{margin: 20px auto;width: 150px;line-height: 25px;display: block;}
    .douyin_status{margin-top: 20px;color: #999;}
    .douyin_follow_list{width: 700px;margin:0 auto;display: block;}
    .douyin_follow_list h2{margin-top: 50px;margin-bottom: 20px;font-weight: bold;color: #18bc9c;}
    .douyin_follow_list ul{border-bottom:1px solid #ccc;padding: 0px;}
    .douyin_follow_list ul li{list-style: none;display: inline-block;width: 16%;text-align: center;padding: 10px 0px;color: #888;}
    .douyin_follow_list_head{border-top:1px solid #ccc;}
    .douyin_follow_list_head li{font-weight: bold;color: #000!important;}
    .delete_cookie{cursor: pointer;width: 60px;line-height: 30px;background: #ccc;text-align: center;display: inline-block;border-radius: 5px;color: #fff;}
    .form-group {margin-bottom: 10px;margin-top: 10px;text-align: right;display: block;height: 40px;line-height: 40px;}
    .form-group label{    font-weight: normal;margin-top: 5px;}
    .douyin_follow_notice{width: 800px;margin: 0 auto;}
    .douyin_follow_notice p{color:#999;text-align: left;line-height: 25px;}
    .get_qrcode{display: block;width: 80px;margin: 0 auto;}
    .douyin_form input{height: 40px;line-height: 40px;margin-top: 10px;}
</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        
                    </div>
                    <input type="hidden" name="token" class="token"  value="">
                    <div class="douyin_follow_content">
                        <div class="douyin_follow_notice">
                            <p>1、本系统不会记住您的账号信息，仅获取登录权限,用于解除关键词采集20条限制、意向客户自动关注 <span style="color:red;">[开发中]</span>  </p>
                            <p>2、本系统不存储你的抖音账号信息，请自定义账号标识，方便自己管理的</p>
                            <p>3、抖音账号可绑定多个，为防止意外，<span style="color:red;">建议用小号操作</span></p>
                            <p>4、获取cookie方法：<a style="color:blue;" href="http://xunpang.hu29.com/getcookie.zip" target="_blank">点击下载工具</a>，获取教程： <a href="https://www.yuque.com/docs/share/d8a7f37a-83ac-487a-ae3f-84ecd69e01f4?# 《获取抖音登录cookie》" style="color:blue;" target="_blank"> 点我获取教程</a> </p>
                        </div>
                        
                        <div class="douyin_form">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2">登录cookie:</label>
                                <div class="col-xs-12 col-sm-9" style="padding:0px;">
                                    <input id="c-cookie" data-rule="required" class="form-control" name="row[cookie]" type="text" value="" placeholder="请抖音已登录的cookie" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2">账号标识:</label>
                                <div class="col-xs-12 col-sm-9" style="padding:0px;">
                                    <input id="c-title" data-rule="required" class="form-control" name="row[title]" type="text" value="" placeholder="请自定义账号标识，方便管理，如输入账号昵称" maxlength="10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2">每日最大关注:</label>
                                <div class="col-xs-12 col-sm-9" style="padding:0px;">
                                    <input id="c-max_follow" data-rule="required" oninput="if(value>200) value=200;" class="form-control" name="row[max_follow]" type="number" value="180" placeholder="每日最大关注">
                                </div>
                            </div>
                            <p class="btn btn-success douyin_login">添加账号</p>

                            
                        </div>

                        <div class="douyin_follow_list">
                            <h2>登录账号列表</h2>
                            <ul class="douyin_follow_list_head">
                                <li>账号标识</li>
                                <li>最大关注</li>
                                <li>今日关注</li>
                                <li>总关注</li>
                                <li>状态</li>
                                <li>操作</li>
                            </ul>
                            {if $douyin_cookie}
                                {foreach $douyin_cookie as $k=>$v}
                                    <ul>
                                        <li>{$v.title}</li>
                                        <li>{$v.max_follow}</li>
                                        <li>{$v.today_follow}</li>
                                        <li>{$v.all_follow}</li>
                                        <li>{if $v.status==1}<span style="color:green;">生效</span>{else}<span style="color:red;">已过期</span>{/if}</li>
                                        <li>
                                            <span class="delete_cookie" data-id="{$v.id}">删除</span>
                                        </li>
                                    </ul>
                                {/foreach}
                            {else}
                                <p style="margin-top:20px;color:#999;">暂无登录账号</p>
                            {/if}
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/storeadmin/libs/jquery/dist/jquery.min.js?v=1629984200"></script>
<script type="text/javascript">
    $('.douyin_login').click(function(){
        $('.douyin_login').attr('disabled','disabled');
        $('.douyin_login').css('background','#ccc');
        $('.douyin_login').html('添加账号中，请稍后...');
        $.post('/store.php/douyin_follow/get_cookie',{cookie:$('#c-cookie').val(),title:$('#c-title').val(),max_follow:$('#c-max_follow').val()},function(data){
            alert(data.msg);
            if(data.code != 2){
                window.location.reload();
            }
            
            $('.douyin_login').removeAttr('disabled');
            $('.douyin_login').css('background','#18bc9c');
            $('.douyin_login').html('添加账号');
        },'json');
    });

    $('.delete_cookie').click(function(){
        var flag=window.confirm("请确认是否删除该账号？");
        id = $(this).attr('data-id');
        if(flag==true){
            $.post('/store.php/douyin_follow/delete_cookie',{id:id},function(data){
                alert(data.msg);
                window.location.reload();
            },'json');
        }else{ 
            return false;
        }
    });
</script>