<!-- Logo -->
<a href="javascript:;" class="logo" style="background-color: #3F51B5;">
    <!-- 迷你模式下Logo的大小为50X50 -->
    <span class="logo-mini">{$site.name|mb_substr=0,4,'utf-8'|mb_strtoupper='utf-8'|htmlentities}</span>
    <!-- 普通模式下Logo -->
    <span class="logo-lg">{$site.name|htmlentities}</span>
</a>

<!-- 顶部通栏样式 -->
<nav class="navbar navbar-static-top" style="background-color: #000530;">

    <!--第一级菜单-->
    <div id="firstnav">
        
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- 账号信息下拉框 -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs" style="color:#fff;">{$store_name|htmlentities}</span>
                    </a>
                        <!-- Menu Footer-->
                        <li class="user-footer" style="margin-top: 10px;margin-right:20px;">
                            <div class="pull-right">
                                <a href="{:url('index/logout')}" class="btn btn-danger"><i class="fa fa-sign-out"></i>
                                    {:__('Logout')}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>
