<!-- 左侧菜单栏 -->
<section class="sidebar">
    <!-- 管理员信息 -->
    <div class="user-panel hidden-xs" style="height: 60px;">
        <div class="pull-left image">
           <img src="{$admin_avatar|cdnurl|htmlentities}" class="img-circle" />
        </div>
        <div class="pull-left info" style="padding:0px;text-align: left;    margin-top: 5px;left: 65px;">
            <p>{$store_name|htmlentities}</p>
            <i class="fa fa-circle text-success"></i> 到期:{$out_date}
        </div>
    </div>

    <!-- 菜单搜索 -->
 <!--    <form action="" method="get" class="sidebar-form" onsubmit="return false;">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="{:__('Search menu')}">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
            </span>
            <div class="menuresult list-group sidebar-form hide">
            </div>
        </div>
    </form> -->

    <!-- 移动端一级菜单 -->
    <div class="mobilenav visible-xs">

    </div>
    <style type="text/css">
        .treeview-menu li{padding-left:30px;}
        .treeview-menu{display: none;}
        .skin-black-green .treeview-menu > li.active > a {background-color: #3f51b5;}
        .skin-black-green .sidebar-menu > li.active > a {color: #fff;background: #3f51b5;border-left-color: #18bc9c;}
        .sidebar-menu .treeview-menu > li > a {padding: 10px 5px 10px 15px;display: block;font-size: 12px;}
        a{cursor: pointer;}
    </style>
    <!--如果想始终显示子菜单,则给ul加上show-submenu类即可,当multiplenav开启的情况下默认为展开-->
    <ul class="sidebar-menu {if $Think.config.fastadmin.multiplenav}show-submenu{/if}" style="margin-top:20px;">
        <li {if $menu_url==''}class="active"{/if}><a href="/store.php/index" py="kzt" pinyin="kongzhitai" title="控制台"><i class="fa fa-dashboard fa-fw"></i> <span>控制台</span> <span class="pull-right-container"> <small class="label pull-right bg-blue">hot</small></span></a> </li>

        <li  class="treeview-menu-douyin"><a ><i class="fa fa-handshake-o fa-fw"></i> M音获客<i style="float:right" class="fa fa-angle-left"></i></a> </li>
        <ul class="treeview-menu menu-open treeview-menu-douyin-content" {if in_array($menu_url,["store_task1","store_task2","store_task3","task_video","video_comment","douyin_follow"])}style="display: block;"{/if}>
            <li {if $menu_url=='store_task1'}class="active"{/if}><a href="/store.php/index?jump_url=store_task&menu_url=store_task1&mode=1"  py="dlgl" pinyin="dailiguanli" title="同行主页监控"><i class="fa fa-handshake-o fa-fw"></i> <span>同行监控</span> <span class="pull-right-container"> </span></a> </li>

            <li {if $menu_url=='store_task3'}class="active"{/if}><a href="/store.php/index?jump_url=store_task&menu_url=store_task3&mode=3"  py="dlgl" pinyin="dailiguanli" title="关键词监控"><i class="fa fa-search fa-fw"></i> <span>关键词监控</span> <span class="pull-right-container"> </span></a> </li>

            <li {if $menu_url=='store_task2'}class="active"{/if}><a href="/store.php/index?jump_url=store_task&menu_url=store_task2&mode=2"  py="dlgl" pinyin="dailiguanli" title="单视频监控"><i class="fa fa-video-camera fa-fw"></i> <span>单视频监控</span> <span class="pull-right-container"> </span></a> </li>

            <li {if $menu_url=='task_video'}class="active"{/if}><a href="/store.php/index?jump_url=task_video&menu_url=task_video"  py="dlgl" pinyin="dailiguanli" title="全部视频"><i class="fa fa-file-video-o fa-fw"></i> <span>视频库</span> <span class="pull-right-container"> </span></a> </li>

            <li {if $menu_url=='video_comment'}class="active"{/if}><a href="/store.php/index?jump_url=video_comment&menu_url=video_comment"  py="dlgl" pinyin="dailiguanli" title="客户管理"><i class="fa fa-address-book-o fa-fw"></i> <span>客户库</span> <span class="pull-right-container"> </span></a> </li>

            <!-- <li {if $menu_url=='douyin_follow'}class="active"{/if}><a href="/store.php/index?jump_url=douyin_follow&menu_url=douyin_follow"  py="dlgl" pinyin="dailiguanli" title="抖音账号配置"><i class="fa fa-commenting-o fa-fw"></i> <span>M音账号配置</span> <span class="pull-right-container"> </span></a> </li> -->
        </ul>

        <li class="treeview-menu-xhs"><a  ><i class="fa fa-address-book fa-fw"></i> 小红薯获客<i style="float:right" class="fa fa-angle-left"></i></a> </li>
            <ul class="treeview-menu menu-open treeview-menu-xhs-content" {if in_array($menu_url,["xhs_task","xhs_note","xhs_comment","xhs_follow"])}style="display: block;"{/if}>
                <li {if $menu_url=='xhs_task'}class="active"{/if}><a href="/store.php/index?jump_url=xhs_task&menu_url=xhs_task"  py="dlgl" pinyin="dailiguanli" title="关键词监控"><i class="fa fa-video-camera fa-fw"></i> <span>关键词监控</span> <span class="pull-right-container"> </span></a> </li>

                <li {if $menu_url=='xhs_note'}class="active"{/if}><a href="/store.php/index?jump_url=xhs_note&menu_url=xhs_note"  py="dlgl" pinyin="dailiguanli" title="全部视频"><i class="fa fa-file-video-o fa-fw"></i> <span>笔记库</span> <span class="pull-right-container"> </span></a> </li>

                <li {if $menu_url=='xhs_comment'}class="active"{/if}><a href="/store.php/index?jump_url=xhs_comment&menu_url=xhs_comment"  py="dlgl" pinyin="dailiguanli" title="客户管理"><i class="fa fa-address-book-o fa-fw"></i> <span>客户库</span> <span class="pull-right-container"> </span></a> </li>

                <li {if $menu_url=='xhs_follow'}class="active"{/if}><a href="/store.php/index?jump_url=xhs_follow&menu_url=xhs_follow"  py="dlgl" pinyin="dailiguanli" title="小红书账号配置"><i class="fa fa-commenting-o fa-fw"></i> <span>小红薯账号配置</span> <span class="pull-right-container"> </span></a> </li>
            </ul>

        <li class="treeview-menu-ks"><a  ><i class="fa fa-play-circle fa-fw"></i> K手获客<i style="float:right" class="fa fa-angle-left"></i></a> </li>
            <ul class="treeview-menu menu-open treeview-menu-ks-content" {if in_array($menu_url,["ks_task","ks_video","ks_comment","ks_follow"])}style="display: block;"{/if}>
                <li {if $menu_url=='ks_task'}class="active"{/if}><a href="/store.php/index?jump_url=ks_task&menu_url=ks_task"  py="dlgl" pinyin="dailiguanli" title="关键词监控"><i class="fa fa-video-camera fa-fw"></i> <span>关键词监控</span> <span class="pull-right-container"> </span></a> </li>

                <li {if $menu_url=='ks_video'}class="active"{/if}><a href="/store.php/index?jump_url=ks_video&menu_url=ks_video"  py="dlgl" pinyin="dailiguanli" title="全部视频"><i class="fa fa-file-video-o fa-fw"></i> <span>视频库</span> <span class="pull-right-container"> </span></a> </li>

                <li {if $menu_url=='ks_comment'}class="active"{/if}><a href="/store.php/index?jump_url=ks_comment&menu_url=ks_comment"  py="dlgl" pinyin="dailiguanli" title="客户管理"><i class="fa fa-address-book-o fa-fw"></i> <span>客户库</span> <span class="pull-right-container"> </span></a> </li>

                <li {if $menu_url=='ks_follow'}class="active"{/if}><a href="/store.php/index?jump_url=ks_follow&menu_url=ks_follow"  py="dlgl" pinyin="dailiguanli" title="K手配置"><i class="fa fa-commenting-o fa-fw"></i> <span>K手cookie配置</span> <span class="pull-right-container"> </span></a> </li>
            </ul>

        <!-- onclick="alert('正在快马加鞭赶来中，请耐心等候');" -->
        <li  class="treeview-menu-map"><a  ><i class="fa fa-map-marker fa-fw"></i> 地图获客 <i style="float:right" class="fa fa-angle-left"></i></a> </li>
            <ul class="treeview-menu menu-open treeview-menu-map-content" {if in_array($menu_url,["map_task","map_customer"])}style="display: block;"{/if}>
                <li  {if $menu_url=='map_task'}class="active"{/if}><a href="/store.php/index?jump_url=map_task&menu_url=map_task"  py="cdgz" pinyin="caidanguize"><i class="fa fa-circle-o fa-fw"></i> <span>地图任务</span> </a> </li>
                <li {if $menu_url=='map_customer'}class="active"{/if}><a href="/store.php/index?jump_url=map_customer&menu_url=map_customer"  py="cdgz" pinyin="caidanguize"><i class="fa fa-circle-o fa-fw"></i> <span>地图客户</span> </a> </li>
            </ul>
        <li {if $menu_url=='store_pay'}class="active"{/if}><a href="/store.php/index?jump_url=store_pay&menu_url=store_pay"  py="dlgl" pinyin="dailiguanli" title="充值记录"><i class="fa fa-yen fa-fw"></i> <span>充值记录</span> <span class="pull-right-container"> </span></a> </li>

        <li {if $menu_url=='profile'}class="active"{/if}><a href="/store.php/index?jump_url=profile&menu_url=profile"  py="dlgl" pinyin="dailiguanli" title="个人信息"><i class="fa fa-user fa-fw"></i> <span>个人信息</span> <span class="pull-right-container"> </span></a> </li>

        <li  ><a  onclick="alert('正在快马加鞭赶来中，请耐心等候');"><i class="fa fa-address-book fa-fw"></i> D音定时监控(更新预告) </a> </li>
        

    </ul>
</section>
<script type="text/javascript" src="/storeadmin/libs/jquery/dist/jquery.min.js?v=1629984200"></script>
<script type="text/javascript">
    $('.treeview-menu-douyin').click(function(){
        $(".treeview-menu-douyin-content").slideToggle(300);
    });
    $('.treeview-menu-xhs').click(function(){
        $(".treeview-menu-xhs-content").slideToggle(300);
    });
    $('.treeview-menu-map').click(function(){
        $(".treeview-menu-map-content").slideToggle(300);
    });
    $('.treeview-menu-ks').click(function(){
        $(".treeview-menu-ks-content").slideToggle(300);
    });
</script>